@import '../../../../styles/colors'
@import '../../../../styles/mixins'

.chatContent
    flex-flow: column nowrap
    justify-content: space-between
    align-items: flex-start
    width: 100%
    height: 100%
    margin: 0
    display: grid
    grid-template-areas: "head" "main" "foot"
    grid-template-columns: 100%
    grid-template-rows: 0.8fr 10fr 1fr

.chatContent__header
    height: 100%
    grid-area: head
    width: 100%
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center

.header__chatData
    margin-left: 10px
    display: flex
    flex-flow: row nowrap
    align-items: center
    gap: 10px

.chatData__figure
    margin: 0
    border: none
    max-width: 48px
    max-height: 48px
    border-radius: 50%
    cursor: pointer

.figure__img
    width: 48px
    height: 48px
    border-radius: 50%

.chatData__name
    height: 13px
    font-style: normal
    font-weight: 600
    font-size: 13px
    line-height: 13px
    color: $black

.header__userToolsBtn
    margin-right: 10px
    height: 25px
    width: 25px
    background: url("../../../../styles/icons/userToolsBtn.svg") no-repeat center
    border: none
    border-radius: 50%
    cursor: pointer

.header__userToolsBtn_active
    background-color: $userToolsBtn

.userTools__list
    display: flex
    flex-flow: column nowrap
    position: absolute
    width: 200px
    height: 80px
    right: 10
    top: 65px
    background: $white-standard
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14)
    border-radius: 12px
    padding: 15px
    z-index: 1

.userTools__list_hidden
    visibility: hidden

.list__img
    width: 20px
    height: 20px

.item__btn
    display: flex
    flex-flow: row nowrap
    justify-content: flex-start
    align-items: center
    background: none
    width: 100%
    border: none
    cursor: pointer
    gap: 10px
    font-style: normal
    font-weight: 500
    font-size: 12px
    line-height: 12px
    color: $gray
    height: 40px
    &:hover
        background: $lavender

.chatContent_mesages
    overflow: auto
    grid-area: main
    display: flex
    flex-flow: column nowrap
    height: 100%
    border-top: 1px solid $pale-white
    border-bottom: 1px solid $pale-white
    padding: 0px 10px 0px 10px

.chatContent__newMsg
    grid-area: foot
    width: 100%
    height: 100%
    flex-flow: row nowrap
    align-content: center
    display: grid
    grid-template-areas: "inputMsg" "sendMsgBtn"
    grid-template-columns: 100%
    grid-template-columns: 10fr 1fr

.newMsg__inputMsg
    grid-area: inputMsg
    width: 100%
    height: 32px
    background: $smoky-white
    border: none
    border-radius: 30px
    text-align: center
    &:focus
        outline: none
        @include hover-shadow($color: currentColor)

.newMsg__sendMsgBtn
    grid-area: sendMsgBtn
    height: 28px
    width: 100%
    background: url('../../../../styles/icons/backBtn.svg') no-repeat center
    border: none
    cursor: pointer
    -moz-transform: scaleX(-1)
    -o-transform: scaleX(-1)
    -webkit-transform: scaleX(-1)
    transform: scaleX(-1)

.avatar
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center
    position: absolute
    background-color: $avatarMenu
    width: 48px
    height: 48px
    border-radius: 50%
    opacity: 0
    &:hover
        opacity: 0.5

.avatar__uploadInput
    display: none

.avatar__uploadIabel
    color: $white
    cursor: pointer
    font-size: 10px

.chatData__showMembersBtn
    background: none
    border: none
    display: flex
    font-family: row nowrap
    justify-content: center
    align-items: center
    cursor: pointer
    font-style: normal
    font-weight: 500
    font-size: 12px
    line-height: 12px
    color: $gray
    height: 40px
    gap: 5px
    &:hover
        text-decoration: underline

.modal
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: rgba(44, 44, 44, 0.5)
    visibility: hidden
    z-index: 1

.modal__box
    display: flex
    flex-flow: column nowrap
    justify-content: space-around
    align-items: center
    width: 340px
    height: 257px
    background: $white-standard
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14)
    border-radius: 12px

.box__header
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center
    width: 100%

.header__msg
    width: 178px
    height: 20px
    font-style: normal
    font-weight: 500
    font-size: 15px
    line-height: 20px
    text-align: center
    color: $black

.box__label
    width: 27px
    height: 9px
    font-style: normal
    font-weight: 500
    font-size: 9px
    line-height: 9px
    color: $gray

.box__input
    color: $black
    border-top: none
    border-left: none
    border-right: none
    border-bottom: 1px $blue solid
    width: 280px
    font-style: normal
    font-size: 14px
    line-height: 24px
    &:focus
        border-radius: 5px
        outline: none
        caret-color: $blue
        @include hover-shadow($color: $blue)
    &:required
        border-radius: 5px
        outline: none
        caret-color: $blue
        @include hover-shadow($color: $blue)
    &:valid
        border-top: none
        border-left: none
        border-right: none
        border-bottom: 1px $blue solid
        border-radius: 0px
        box-shadow: none

.box__btn
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center
    text-decoration: none
    width: 280px
    height: 37px
    background: $blue
    border: none
    border-radius: 8px
    color: $white
    &:hover
        @include hover-shadow($color: $blue)
    &:disabled
        background: $white
        color: $blue
        box-shadow: none
        cursor: not-allowed

.modal__closeBtn
    border: none
    cursor: pointer
    background: none

.closeBtn__img
    height: 22px
    width: 22px

.modal_active
    visibility: visible
