@import '../../styles/colors'
@import '../../styles/mixins'

.chat
    display: flex
    flex-flow: row nowrap
    align-items: flex-start
    justify-content: flex-start
    width: 100%
    height: inherit

.chat__sidebar
    height: 100%
    min-width: 310px
    display: flex
    flex-flow: column nowrap
    justify-content: flex-start
    background: $snow-white

.sidebar__line
    width: 290px
    height: 1px
    background: $pale-white
    align-self: center

.sidebar__nav
    height: 56px
    display: flex
    flex-flow: row nowrap
    justify-content: flex-end
    align-items: center

.nav__goToProfile
    display: flex
    flex-flow: row nowrap
    align-items: center
    height: 12px
    gap: 8px
    cursor: pointer

.goToProfile__anchor
    text-decoration: none
    text-decoration: none
    font-style: normal
    font-weight: 500
    font-size: 12px
    line-height: 12px
    color: $gray

.goToProfile__icon
    margin-right: 10px
    content: url('../../styles/icons/rightArrow.svg')

.sidebar__chatSearch
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center
    height: 60px

.chatSearch__input
    border: none
    width: 290px
    height: 32px
    background: $smoky-white
    border-radius: 5px
    text-align: center
    &:focus
        outline: none
        @include hover-shadow($color: currentColor)

.figure
    border-radius: 50%
    cursor: pointer

.figure__img
    width: 34px
    height: 34px
    border-radius: 50%

.chat__content
    width: 800px
    height: 100%
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center

.content__selectChatMsg
    font-style: normal
    font-weight: 500
    font-size: 12px
    line-height: 12px
    text-align: center
    color: $gray
