@import '../../../../styles/colors'
@import '../../../../styles/mixins'

.itemChat
    display: flex
    flex-flow: column nowrap
    justify-content: space-between
    align-items: flex-start
    width: 100%
    height: 100%
    margin: 0

.itemChat__header
    width: 100%
    display: flex
    flex-flow: row nowrap
    justify-content: space-between

.header__userData
    display: flex
    flex-flow: row nowrap
    align-items: center
    gap: 10px

.userData__figure
    margin: 0
    border: none
    max-width: 34px
    max-height: 34px
    border-radius: 50%
    cursor: pointer

.figure__img
    width: 34px
    height: 34px
    border-radius: 50%

.userData__name
    height: 13px
    font-style: normal
    font-weight: 600
    font-size: 13px
    line-height: 13px
    color: $black

.header__userToolsBtn
    height: 25px
    width: 25px
    background: url("../../../../styles/icons/userToolsBtn.svg") no-repeat center
    border: none
    background-color: $userToolsBtn
    border-radius: 50%
    cursor: pointer

.itemChat__line
    width: 100%
    height: 1px
    background: $pale-white
    align-self: center

.userTools__list
    display: flex
    flex-flow: column nowrap
    position: absolute
    width: 180px
    height: 80px
    right: 10
    top: 65px
    background: $white-standard
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14)
    border-radius: 12px
    padding: 15px
    gap: 15px

.userTools__list_hidden
    visibility: hidden

.list__item
    display: flex
    flex-flow: row nowrap
    align-items: center
    gap: 15px

.list__text
    width: 143px
    height: 14px
    font-family: 'Inter'
    font-style: normal
    font-weight: 500
    font-size: 12px
    line-height: 14px
    color: #1E1E1E

.item__addUserBtn
    height: 22px
    width: 22px
    background: url('../../../../styles/icons/addUserBtn.svg') no-repeat center
    border: none
    cursor: pointer

.item__deleteUserBtn
    height: 22px
    width: 22px
    background: url('../../../../styles/icons/deleteUserBtn.svg') no-repeat center
    border: none
    cursor: pointer

.itemChat__newMsg
    margin: 0
    width: 100%
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center
    gap: 10px

.newMsg__inputMsg
    width: 589px
    height: 32px
    background: $smoky-white
    border: none
    border-radius: 30px
    text-align: center
    margin-bottom: 10px
    &:focus
        outline: none
        @include hover-shadow($color: currentColor)

.newMsg__sendMsgBtn
    height: 28px
    width: 28px
    background: url('../../../../styles/icons/backBtn.svg') no-repeat center
    border: none
    cursor: pointer
    -moz-transform: scaleX(-1)
    -o-transform: scaleX(-1)
    -webkit-transform: scaleX(-1)
    transform: scaleX(-1)
